<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root name="com.woogie.study" level="info"/>

    <root name="com.woogie.study.runner" level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>